html,
body{
  width: 100%;
  height: 100%;
  text-align: center;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'ABeeZee';
    font-weight: bolder;
    color: white;
    text-shadow: 0px 0px 4px rgb(32, 14, 0);
}
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
}


h1{
    margin: 60px 0px 30px 0px;
    font-size: 60px;
}

img{
    width: 333px;
    margin: 10px;
}

input{
    height: 60px;
    font-size: 50px;
    border-radius: 20px;
    border: none;
}
/* buttons! */


img {
    animation: rotation 0.8s infinite alternate;
    animation-timing-function: linear;
    /* transition: 1; */
}

@keyframes rotation {
    0% {
        transform: rotate(-10deg);
        /* animation-timing-function: ease-in; */
        
    }
    50% {transform: rotate(0deg);}
    100%{
        transform: rotate(10deg);
        animation-timing-function: ease;}
}

.imageNumber{
    width: 250px;
}

/* .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  }

  .chart-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #deleteData{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  
  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 15px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
  }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn-white {
    background-color: #fff;
    color: #777;
  }
  
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }
  
  .btn-white::after {
    background-color: #fff;
  }
  
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  
  .btn-animate {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
  }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  } */
  
  .btn {
    text-transform: uppercase;
    position: relative;
    bottom: 8px;
    text-decoration: none;
    margin-left: 10px;
    padding: 20px 30px;
    font-size: 30px;
    /* display: inline-block; */
    border-radius: 100px;
    transition: all .2s;
    background-color: #fff;
    color: #777;
    cursor: pointer;
    border: none;
    outline: none;
    font-family: 'ABeeZee';
    font-weight: bolder;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* .btn-white::after {
  background-color: #fff;
  opacity: 1;
} */

.btn-animate {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#deleteData{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-family: 'ABeeZee';
  font-weight: bolder;
}
  
h2 {
  font-family: 'ABeeZee';
  text-align: center;
  font-size: 60px;
  margin: 25px ;
}

