html,
.controls-body {
  width: 100%;
  height: 100%;
}

.controls-body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'ABeeZee';
    font-weight: bolder;
}
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
}


.homebutton{
  transition: .5s;
  margin-left: 15px;
}

.homebutton:hover{
  transform: translateY(-5px);
}

/* buttons! */



/* .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  }

  .chart-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #deleteData{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }

  
  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 15px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
  }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn-white {
    background-color: #fff;
    color: #777;
  }
  
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  }
  
  .btn-white::after {
    background-color: #fff;
  }
  
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  
  .btn-animate {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
  }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  } */
  
  .btn {
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 30px;
    font-size: 15px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    background-color: #fff;
    color: #777;
    cursor: pointer;
    border: none;
    outline: none;
    font-family: 'ABeeZee';
    font-weight: bolder;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

/* .btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
} */

/* .btn-white::after {
  background-color: #fff;
  opacity: 1;
} */

.btn-animate {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#deleteData{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-family: 'ABeeZee';
  font-weight: bolder;
}
  
h2 {
  font-family: 'ABeeZee';
  text-align: center;
  font-size: 42px;
}

#myChart{
  margin-top: 100px;
}