/* HOME PAGE */

body {
    background-color: none;
}

nav {
    display: inline-flex;

}

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 50px 100px; */
}

#homeDisplay {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#homeDisplay img {
    height: 200px;
    padding: 10px;
}

#nameDisplay {
    color: white;
    font-family: 'ABeeZee';
    text-align: center;
    font-size: 42px;
    text-shadow: black 1px 0 10px;
}

#animal-facts {
    color: black;
    font-family: 'ABeeZee';
    text-align: center;
    font-size: 36px;
    text-shadow: black 1px 0 10px;
    margin-top: 30px;
}

.home_thumbnails {
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
    max-width: 100%;
}


#img1 {
    background-color: lightsalmon;
    width: 30%;
    margin: 20px;
    padding: 40px;
    clip-path: circle();
    margin: 0 auto;
}


#img2 {
    background-color: lightcoral;
    width: 30%;
    margin: 20px;
    padding: 40px;
    clip-path: circle();
    margin: 0 auto;
}

#img1:hover{
    background-color: white;
}

#img2:hover{
    background-color: white;
}

#numberImage {
    filter: brightness(20%)
}

.backbutton{
    transition: .5s;
}

.backbutton:hover{
    transform: translateY(-5px);
}