body {
    display: flex;
    flex-flow: column;
    margin: auto;
    font-family: 'ABeeZee';
    font-weight: bolder;
    color: white;
    text-shadow: 0px 0px 4px rgb(32, 14, 0);
}

h1 {
    font-size: 25px;
}


.container {
    /* height: 1000px; */
    /* width: 750px; */
    margin: auto;

}

.container {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 3.2fr 0.4fr;
    grid-template-rows: 0.1fr 0.25fr 0.6fr 0.6fr 0.8fr 0.2fr 1.8fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
        ". . . ."
        ". . dropdown ."
        ". sliderArea throwArea listDrop1"
        ". sliderArea throwArea listDrop2"
        ". sliderArea throwArea ."
        ". . throwButton ."
        ". . controlArea .";
}

.dropdown {
    grid-area: dropdown;
}

.sliderArea {
    grid-area: sliderArea;
}

.throwArea {
    grid-area: throwArea;
}

.listDrop1 {
    grid-area: listDrop1;
}

.listDrop2 {
    grid-area: listDrop2;
}

.throwButton {
    grid-area: throwButton;
}

.controlArea {
    grid-area: controlArea;
}


.slideContainer {
    width: 100%;
    margin: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fdc11d;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fdc11d;
    cursor: pointer;
}

#heightSliderDiv {
    width: 100%;
    height: 100%;
}

.sliderVertical {
    -webkit-appearance: none;
    margin-top: 00px;
    width: 500px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.sliderVertical:hover {
    opacity: 1;
}

.sliderVertical::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fdc11d;
    cursor: pointer;
}

.sliderVertical::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fdc11d;
    cursor: pointer;
}

#heightSliderDiv {
    /* transform: rotate(90deg); */
    /* position: relative; */
    /* text-align: end; */
    /* width: 20px; */
    position: relative;
    width: 30px;
}

.sliderVertical {
    position: absolute;
    left: -250px;
    top: 250px;
}


#heightSlider {
    transform: rotate(90deg);
}

.throwArea {
    height: 500px;
    width: 750;
    margin-bottom: 25px;
}

.throwButton {
    background-color: #fdc11d96;
    border-color: #fdc11d;
    border-radius: 25px;
    margin-bottom: 20px;
}

.throwButton:hover {
    background-color: #fdc11d;
    border-radius: 25px;
}


#canvasObjectThrown img {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}