/* VIDEO PAGE  */

html {
    background-color:deepskyblue; 
}

#image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
    padding: 40px;
}

#image-container img {
    width: 70%;
    height: auto;
    display: block;
    object-fit: cover;
    padding: 40px;
    background-color: lightblue;
    border-radius: 20%;
}

.page-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}