/* HOME PAGE */
nav {
    display: inline-flex;

}

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 50px 100px; */
    padding: 10px;
    background-color: blue;
}

#homeDisplay {
    width: 100%;
    display: grid;
    padding: 10px;
}

#homeDisplay img {
    height: 150px;
    padding: 10px;
}

#nameDisplay {
    color: white;
    padding: 10px;
}

#animal-facts {
    background-color: white;
    text-align: center;
}

.home_thumbnails {
    background-color: lightblue;
    display: grid;
    row-gap: 10px;
    text-align: center;
    width: 100%;
}


#img1 {
    background-color: white;
    width: 30%;
    margin: 20px;
    padding: 40px;
}

#img2 {
    background-color: white;
    width: 30%;
    margin: 20px;
    padding: 40px;
}


/* VIDEO PAGE  */

#image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
    padding: 40px;
}

#image-container img {
    width: 70%;
    height: auto;
    display: block;
    object-fit: cover;
    padding: 40px;
    background-color: lightblue;
    border-radius: 20%;
    cursor: pointer;
}

.page-title {
    text-align: center;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: darkslateblue;
}
  
  #image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  #video-player-container {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  #close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }
  
  #video-player {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
  }
  









































/* ABOUT US PAGE */

h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.about-html {
    background-color: #fff;
    height: 100%;
}

.about-us{
    background-color: lightblue;
    font-family: 'ABeeZee';
    background-color: white;
    /* height: 100vh; */
    margin: 0;
}

.about-us-header {
    background-color: #a1c2ef;
    height: 100px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.about-us-header>div>ul>li:first-child{
    font-size: 50px;
    display: inline-block;
    margin-top: 20px;
    color: aliceblue;
}

.backbutton{
    transition: .5s;
}

.backbutton:hover{
    transform: translateY(-5px);
}


.about-us-header>div>ul>li:last-child{
    display: inline-block;
    float: left;
    margin-right: 40px;
}
.about-us-header div {
    width: 1000px;
    margin: 0 auto;
}

.mission{
    display: inline-block;
    margin-top: 30px;
    line-height: 1.8em;
    font-size: 16px;
    margin-bottom: 50px;
    padding:30px;
}
.about-us main{
    width: 100%;
    margin: 0 auto;
}

.about-us-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.about-us-section p {
    width: 200px;
    align-content: center;
    padding: 20px;
}
    
#bioSectionContain {
    display: grid; 
    grid-template-columns: repeat(2, auto); 
    grid-template-rows: repeat(2, auto); 
    gap: 20px 20px; 
    padding: 30px;
}


.about-us-section:first-child{
    grid-area: 1 / 1 / 2 / 2;
}

.about-us-section:nth-child(2){
    grid-area:  1 / 2 / 2 / 3;
}

.about-us-section:nth-child(3){
    grid-area:  2 / 1 / 3 / 2;
}


.about-us-section:last-child{
    grid-area: 2 / 2 / 3 / 3;
}

.photo-div{
    /* margin-right: 17px;
    display: inline-block;
    float: left; */
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    /* flex-basis: 25%; */
    align-self: flex-start;
    order: 0;
}

.self-photo{
    /* height: 90px;
    clip-path: circle();
    margin: 0;
    width: 90px; */
    width: 100%;
    height: 90px;
    clip-path: circle();
}

.bio-div{
    display: inline-block;
    align-items: center;
}

.bio-div p{
    font-size: 14px;
}

.bios{
    font-size: 17px;
}

.email{
    margin-top: 10px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color:#a1c2ef;
    transition: 350ms all;
}

.email:hover{
    color: #1452a0;
}

.companylogo{
    margin-top: .8em;
    margin-right: 2px;
    margin-left: 2px;
    transition: 0.5s;
}

.companylogo:hover{
    transform: translateY(-5px);
}

.logo{
    margin-top: 10px;
    margin-right: 5px;
}



h3{
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: bold;
}

.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 220px;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("/assets/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }






  